[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
markupsafe = "==1.0"
werkzeug = "==0.14.1"
"jinja2" = "==2.10"
itsdangerous = "==0.24"
click = "==6.7"
flask-assets = "*"
flask-sqlalchemy = "==2.3.2"
"psycopg2" = "==2.7.4"
sqlalchemy = "==1.2.6"
mongoengine = "==0.15.0"
coverage = "*"
nose = "*"
rednose = "*"
flask-mongoengine = "==0.9.5"
marshmallow = "*"
flask-migrate = "==2.1.1"
flask-wtf = "==0.14.2"
wtforms = "==2.1"
uwsgi = "==2.0.17"
flask-webpack = "==0.1.0"
flask-login = "==0.4.1"
flask-bcrypt = "==0.7.1"
flask-jwt-extended = "*"
flask-celery-helper = "*"
flask-caching = "==1.3.3"
redis = "==2.10.6"
flask-debugtoolbar = "==0.10.1"
ipython = "*"
flask-admin = "*"
flask-mail = "*"
flask-restful = "*"
flask-marshmallow = "*"
passlib = "*"
requests = "*"
httpie = "*"
fabric = "*"
flask-babelex = "*"
flask-gravatar = "*"
flask-uploads = "*"
flask-script = "*"
pillow = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.6"
